%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head 
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2886473-5']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        %title Busted!
    %body
        %h1 Busted: A SunTran WebWatch Feed Proxy
        %a(href="http://www.suntran.com/webwatch/") Click here for SunTran's site
        %p The WebWatch services uses this feed:
        %a(href="http://www.suntran.com/webwatch/UpdateWebMap.aspx?u=1") http://www.suntran.com/webwatch/UpdateWebMap.aspx?u=1
        %h2 GETful API
        %p [NOTE: all http://busted.kitplummer/apigee.com/alpha/* URLs are deprecated.]
        %h3 Returns listing of all routes in XML or JSON
        %a(href="http://busted.kitplummer.apigee.com/beta/routes.xml") http://busted.kitplummer.apigee.com/beta/routes.xml
        %br
        %a(href="http://busted.kitplummer.apigee.com/beta/routes.json") http://busted.kitplummer.apigee.com/beta/routes.json
        %h3 Returns all information about a given route in XML or JSON
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1.xml") http://busted.kitplummer.apigee.com/beta/route/1.xml
        %br
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1.json") http://busted.kitplummer.apigee.com/beta/route/1.json
        %h3 Returns all stations for route in XML or JSON
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/stations.xml") http://busted.kitplummer.apigee.com/beta/route/1/stations.xml
        %br
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/stations.json") http://busted.kitplummer.apigee.com/beta/route/1/stations.json
        %h3 Returns all stops (including stations) for route in XML or JSON
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/stops.xml") http://busted.kitplummer.apigee.com/beta/route/1/stops.xml
        %br
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/stops.json") http://busted.kitplummer.apigee.com/beta/route/1/stops.json
        %h3 Returns all busses on route, including positions in XML or JSON
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/busses.xml") http://busted.kitplummer.apigee.com/beta/route/1/busses.xml
        %br
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/busses.json") http://busted.kitplummer.apigee.com/beta/route/1/busses.json
        %h3 KML for Google Earth/Maps, Other Mapping Tools
        %p Just scratching KML support...but here's a taste (I've tested in Google Earth).  For the sake of debugging I've not set the content_type to application/vnd.google-earth.kml+xml yet, because it is a dev/debug pain.  So, if you just want to download, you'll have to SaveAs from your browser.
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/busses.kml") http://busted.kitplummer.apigee.com/beta/route/1/busses.kml
        %p Here's a way to overlay route traces onto Google Earth.  It is just lines, without markers indicating stops.  Working on that now.
        %a(href="http://busted.kitplummer.apigee.com/beta/route/1/trace.kml") http://busted.kitplummer.apigee.com/beta/route/1/trace.kml
        %p To get the KML into Google Earth is pretty simple.  Select "Add" from the Google Earth menu, then click "Network Link".
        %image(src="images/ge_menu.png")
        %p Then, add a simple name, and copy the link in.
        %image(src="images/ge_netlink.png")
        %p Clock "OK", and the trace will appear in the map.
        %image(src="images/ge_trace.png")
        %p To get the busses to appear on the map, follow the same steps but use the busses.kml for that route. 
        %p The code for this thing is available at:
        %a(href="http://github.com/kitplummer/Busted") http://github.com/kitplummer/Busted
        %p I've decided to test the Apigee (http://www.apigee.com) service's analytics capabilities and use them to provide a basic filter and protection around the service at Heroku.  I'll post some basic numbers soon.
        
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Busted: SunTran Proxy</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://busted.heroku.com" property="cc:attributionName" rel="cc:attributionURL">Kit Plummer</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-ShareAlike 3.0 United States License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/kitpummer/busted.git" rel="dct:source">github.com</a>.
